<body>
        <div class="calendar-container">
            <div class="calendar-header">
                <button class="btn btn-light">Today</button>
                <div class="ico-arrow">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="이전">
                        <i class="material-icons">
                            chevron_left
                        </i>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="다음">
                        <i class="material-icons">
                            chevron_right
                        </i>
                    </a>
                </div>
                <h4>2019년 9월</h4>
                <ul class="nav nav-tabs view-tab" id="view" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                           aria-controls="month"
                           aria-selected="true">월</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                           aria-selected="false">일</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
                    <div class="monthly-calendar">
                        <div class="week-day">
                            <div class="day-name">일</div>
                            <div class="day-name">월</div>
                            <div class="day-name">화</div>
                            <div class="day-name">수</div>
                            <div class="day-name">목</div>
                            <div class="day-name">금</div>
                            <div class="day-name">토</div>
                        </div>
                        <div class="week">
                            <div class="day">
                                <h3 class="day-label">1</h3>
                                <div class="event-consecutive event-start event-end" data-span="6"
                                     data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 2</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 1
                                </div>
                                <div class="event-consecutive event-start event-end" data-span="5" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 2
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">2</h3>
                                <div class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 1
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">3</h3>
                                <div class="event-repeated event-start event-end" data-span="3" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>반복 일정 1
                                </div>
                                <div class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 2
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">4</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">5</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">6</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">7</h3>
                            </div>
                        </div>
                        <div class="week">
                            <div class="day">
                                <h3 class="day-label">8</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">9</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">10</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">11</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">12</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">13</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">14</h3>
                            </div>
                        </div>
                        <div class="week">
                            <div class="day">
                                <h3 class="day-label">15</h3>
                                <div class="event-consecutive event-start event-end" data-span="6" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 3
                                </div>
                                <div class="event-consecutive event-start event-end" data-span="2" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 4
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">16</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">17</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">18</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">19</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">20</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">21</h3>
                            </div>
                        </div>
                        <div class="week">
                            <div class="day">
                                <h3 class="day-label">22</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">23</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">24</h3>
                                <div class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 3
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">25</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">26</h3>
                                <div class="event event-start event-end" data-span="1" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 4
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">27</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">28</h3>
                            </div>
                        </div>
                        <div class="week">
                            <div class="day">
                                <h3 class="day-label">29</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">30</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">1</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">2</h3>
                                <div class="event-repeated event-start event-end" data-span="3" data-toggle="popover"
                                     data-html="true" data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>반복 일정 2
                                </div>
                            </div>
                            <div class="day">
                                <h3 class="day-label">3</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">4</h3>
                            </div>
                            <div class="day">
                                <h3 class="day-label">5</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="day" role="tabpanel" aria-labelledby="tab-day">
                    <div class="daily-calendar">
                        <span class="day-name">3일 화요일</span>
                        <div class="event-consecutive event-start event-end" data-toggle="popover"
                             data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 1
                        </div>
                        <div class="event-consecutive event-start event-end" data-toggle="popover"
                             data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>연속 일정 2
                        </div>
                        <div class="event event-start event-end" data-toggle="popover"
                             data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>일반 일정 3
                        </div>
                        <div class="event-repeated event-start event-end" data-toggle="popover"
                             data-html="true" data-placement="left" data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>
                </div><div class="content-line"><i class="material-icons">
        notes
        </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>'>반복 일정 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        <div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="col-form-label">일정 제목</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">일정 설명</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 시작 날짜</label>
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker1"/>
                                            <div class="input-group-append" data-target="#datetimepicker1"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 시작 시간</label>
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker2"/>
                                            <div class="input-group-append" data-target="#datetimepicker2"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 종료 날짜</label>
                                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker3"/>
                                            <div class="input-group-append" data-target="#datetimepicker3"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    calendar_today
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">일정 종료 시간</label>
                                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker4"/>
                                            <div class="input-group-append" data-target="#datetimepicker4"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="material-icons">
                                                    access_time
                                                </i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">매월 반복</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary">일정 만들기</button>
                    </div>
                </div>
            </div>
        </div>